#box {
  display: grid;
  grid-template-areas:
    "head head"
    "navi navi"
    "main aside"
    "foot foot";
  grid-template-columns: 8fr 2fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 1.5%;
  row-gap: 1%;
}
#boxnewp {
  display: grid;
  grid-template-areas:
    "head head"
    "navi navi"
    "main aside"
    "foot foot";
  grid-template-columns: 8fr 2fr;
  grid-template-rows: repeat(4, auto);
  column-gap: 1.5%;
  row-gap: 1%;
}
header {
  grid-area: head;
}
nav {
  display: flex;
  grid-area: navi;
  justify-content: center;
}
#maingrid {
  display: grid;
  grid-area: main;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: 4fr 4fr;
  grid-template-areas:
    "text pic"
    "list pic";
  column-gap: 2.5%;
  row-gap: 1%;
  padding: 7% 3% 2% 2%;
}
main > div {
  border: ridge 3px white;
  border-radius: 10px;
}
#maingridnewp {
  display: grid;
  grid-area: main;
  grid-template:
    ". . ."
    ". formular ."
    ". . .";
  grid-template-rows: 150px 1fr 40px;
  grid-template-columns: 40px 4fr 60px;
}
#form {
  grid-area: formular;
}
#pic {
  grid-area: pic;
}
#gridarticle {
  grid-area: text;
}
#table {
  grid-area: list;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: foot;
}
