#big {
  display: flex;
  flex-flow: row wrap;
}
#box {
  display: flex;
  flex: 4 2 100%;
  flex-flow: column unwrap;
}
#mainbox {
  display: flex;
  flex: 4 2 75%;
  margin: 1% 0.5% 1% 0%;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
}
#asidebox {
  display: flex;
  flex: 4 0.7 25%;
  padding: 1% 1% 1% 1%;
  margin: 1% 0% 1% 0%;
  flex-flow: column wrap;
  justify-content: flex-start;
}
#navbox {
  display: flex;
  flex: 4 2 100%;
  justify-content:flex-start;
}
#footbox {
  flex: 4 2 100%;
}
#headbox {
  display: flex;
  flex: 4 2 100%;
  justify-content: flex-start;
}
#field {
  display: flex;
  flex-flow: row wrap;
  flex: 4 2 100%;
  padding: 2% 1% 1% 1%;
  align-items: baseline;
  justify-content: center;
  align-content: center;
  margin: 1% 5% 1% 5%;
  border: 4px white;
  border-radius: 13px;
  border-style: ridge ridge ridge ridge;
}
#legend {
  border-radius: 10px;
  border-style: hidden solid;
  border: 4px white;
}
#kacheln {
  display: flex;
  flex-flow: row wrap;
  flex: 4 2 100%;
  padding: 0% 2% 0% 2%;
  font-size: 15px;
  margin: 20px;
  justify-content: space-between;
}
#podcast1 {
  display: flex;
  flex-flow: column wrap;
  border: ridge 4px white;
  border-radius: 13px;
  align-content: space-between;
  margin: 10px;
}
#podcast2 {
  display: flex;
  flex-flow: column wrap;
  border: ridge 4px white;
  border-radius: 13px;
  margin: 10px;
  align-content: space-between;
}
#podcast3 {
  display: flex;
  flex-flow: column wrap;
  border: ridge 4px white;
  border-radius: 13px;
  margin: 10px;
  align-items: flex-end;
}
#podcast4 {
  display: flex;
  flex-flow: column wrap;
  border: ridge 4px white;
  border-radius: 13px;
  justify-content: center;
  margin: 10px;
}
